.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: linear-gradient(to right, #67b26f, #4ca2cd);

}

.register-form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.register-form h2 {
  margin-bottom: 20px;
  color: #2f80ed;
  text-align: center;
}

.register-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.register-form button {
  padding: 10px;
  background: #2f80ed;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.register-form button:hover {
  background: #1c63c1;
}

.message {
  font-size: 14px;
  text-align: center;
  color: green;
  margin-bottom: 10px;
}

