

.slider-container {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative;
}
.slider-background img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.slide {
  width: 100%;
  height: 90vh;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
